body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
} 

/* headings */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.0rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid{
    padding: 7% 15%;
}

/* sections */

.colored-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: white;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.1rem;

}

.dwn-btn{
    margin: 5% 3% 5% 3%;
}


#title {
    text-align: left;
}

.title-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

#title .container-fluid{
    padding: 3% 15% 9%;
}

p{
    color: #8f8f8f;
}

/* features */

#features{
    position: relative; 
}

.fe-txt{
    padding: 5% 0;
}

.fe-h3{
    font-weight: bold;
    font-size: 1.5rem;
}

.fe-icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.fe-icon:hover{
    color: #ff4c68;
}

.fe-p{
    color: #8f8f8f;
    width: 65%;
    margin: 0 auto 0 auto;
}

/* testimonial */

#testimonials{
    background-color: #ef8172;
}

.testimonial-text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.tes-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* press */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */


.price-txt{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-h3{
    font-weight: bold;
    font-size: 1.5rem;
}

.pricing-col{
    padding: 3% 2%;
}


.bill-btn{
    width: 100%;
}

@media (max-width: 1028px) {

    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        width: 60%;
        transform: rotate(0);
    }
}

/* cta */

.cta-h3{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    width: 60%;
    margin: 0 auto 5% auto;
}

.cta-btn{
    margin: 0 1% 0 1%;
}

/* footer */

#footer{
    padding: 5% 5%;
}

.foot-icon{
    color: black;
    margin: 4% 1%;
}



